// .card_description {
//     width: 500px;
//     color: black;
//     position: relative;
//     margin-top: -10px;
//     z-index: 2;    
    
//     .card__descriptionContainer{ 
//     display: flex;
//     justify-content: space-between;
//     }
//   }
  
.card_description {
  // width: 49vh;
  padding: 16px 0;
  margin: 0 5px;

  .host {
    border: 1px solid black;
    border-radius: 13px;
    padding: 4px 6px;
    color: black;
    font-weight: bold;
  }

  .card__descriptionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info {
    color: #828282;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    // font-size: 14px;
  }

  .ratingWrapper {
    // display: flex;
    // align-items: center;
    color: #4f4f4f;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }

  .rating {
    margin-left: 3px;
  }

  .title {
    color: #333333;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}