.Searchbar {
  display: flex;
  border-width: 2px;
  background-color: white;
  width: 100vw;
  height: auto;
  max-height: 40%;
  // padding: 2px;
  padding-top: 5vh;
  padding-bottom: 3vh;
  position: fixed;
  top: 0;
  box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.4);
  z-index: 5;
  left: 0;
  .formSearch {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 5vh;

    .locInp {
      border: 1px solid black;
      border-radius: 10px;
      padding: 0.2vh 18vw 1.2vh 1.5vw ;
      height: 4vh;
      margin-bottom: 1vh;
      


      .searchbarInput {
        position: relative;
        border: transparent;
      }
    }
    
    .divCity{
      margin-left: 1vw;
      margin-top: 0.7vh;

    .iconMap{
      width: 1vw;

    }

    .btnCity {
      background-color: transparent;
      border: none;
      color: rgb(47, 47, 47);
      font-size: 1rem;
      padding: 0.7vh;
      cursor: pointer;

      }  
    }  

  }
  .formguest {
      display: flex;
      flex-direction: column;
      
      gap: 1vw;

    .label {
      font-weight: bold;
    }

    span{
      color: gray;
    }
    
      .gueInp{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 10px;
        // margin: 20px 50px;
        padding: 0.2vh 18vw 1.2vh 1.5vw ;
        height: 4vh;

        

        .guestBarInput{
          position: relative;
          border: transparent;
          
        }
      }
    }
    .inpFormAdCh{
      width: 1.5vw;
      text-align: center;
      border: none;
      font-weight: bold;
    }
    
    .plusMin
    {
      background:#ffffff;
      border: 1px solid rgba(112, 112, 112, 0.6);
      border-radius: 5px;
    }
    
    
    .aduChi {
      display: flex;
      flex-direction: column;
      margin-top: 0.6vh;
      margin-left: 1vw;

    }
    
  }
  .Icona {
    // display: wrap;
    // display:flex;
    // align-items:flex-start;
    // align-items:center;
    height: 4vh;
    width: 15vw;
    padding: 0.6vh 9vw 0.6vh 9vw ;

    border-width: 2px;
    border-radius:10px;
    
    border: 2px solid lightgrey;
    position:relative;



   .searchIcon {
      height: 3.8vh;
      width: 5.5vw;
      color:white;
      background-color:rgb(219, 80, 80);
     border-radius:10px;
    //  padding: 5px;
     cursor: pointer;

     position: relative;
   }
  }
  
  @media screen and (max-width: 1100px) {
    .Searchbar{
      flex-direction: column;
      width: 100%;
      max-height: none;
      .formSearch{
        margin-left: 2vw;
        margin-bottom: 2vh;
      }
      .formguest{
        margin-bottom: 2vh;
        margin-left: 2vw;
        .inpFormAdCh{
          width: 4vw;
        }
      }
    }
  
  .Icona {
    height: 4vh;
    width: 10vw;
    padding: 0.6vh 9vw 0.6vh 9vw ;

   .searchIcon {
      height: 3.8vh;
      width: 10vw;

   }
  }
  .Searchbar > .Icona {
    align-self: center;
  }
}