.header{
    margin: 40px 80px;
    display:flex;
    justify-content:space-between;
}

.Searchbar{
    // display: wrap;
    display:flex;
    // align-items:flex-start;
    align-items:center;
    border-width: 2px;
    border-radius:9999px;
    padding:2px;
    padding-top:5px;
    padding-bottom:5px;
    border: 2px solid lightgrey;
    position:relative;

    .SearchbarInput{

        padding-left: 20px;
        position:relative;
        border: transparent;
        
        
    }
        .searchIcon {
            
            height: 12px;
            color:white;
            background-color:rgb(219, 80, 80);
           border-radius:50%;
           padding: 5px;
           cursor: pointer;
           
           position: relative;
        }

    
}
h1 {
    margin-left: 20px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;

    column-gap: 20px;
    row-gap: 10px;
    margin: auto 4.8%;
}

@media screen and (max-width: 460px) {
    
    .header {
        flex-direction:column;
        width: 100vw;
        margin: 2vh 5vw;

        .Searchbar{
            width: 90vw;
            padding: 1.5vh 0;
            border-radius: 15px;
            margin-top: 3vh;
                .SearchbarInput{
                    padding-left: 3vw;
                    width: 40vw;
            }
            .searchIcon{
                width: 5vw;
                height: 2vh;
                padding: 0.5vh;
            }
        }
        
}
}