.footerModal {
    position: fixed;
    width: 52vw;
    height: 75vh;
    background-color:white;
    top: 10vh;
    left: 30vw;
    z-index: 1;
    border-radius:20px;
    box-shadow:0 0 0 200vh rgba(0, 0, 0, 0.5);
.headerMod{
    display: flex;

    .titleMod{
        width: 100%;
        text-align: center;
    }

  
}
.membri{
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin: 0 2rem;
    width: 50vw;
    
.membro{
    text-align: center;
    width: 18vw;
    height: 15vh;
    margin-top: 3.5rem;
    transition: all 0.35s;
    
    .nomeMembro{
        font-size:medium;
        font-weight: bold;
    }

    .containerDescMod{
            font-size:small;
            overflow: hidden;
            max-height: 0px;
            .containerLinks{
                display: flex;
                justify-content: space-around;
                margin-top: 3.7rem;
                .imgLinkedin{
                    width: 3.4rem;
                }
                 .imgGitHub{
                    width: 3.3rem;
                    transform:translateY(-3px)
                }
                
            }
        }
    
 .membroImg{
    width: 70px;
        border-radius: 50%;
        transform: scale(1.5)
 }
 &:hover{
    height: 40vh;
    background-color: rgb(235, 232, 232);
    transform:translateY(-5vh) ;
    

     .membroImg{
     transform: scale(1);
    }

    .containerDescMod{
        overflow: visible;
    max-height: none;
    }
        }
        
    }
 }
 .imgCloseMod{
    width: 100%;
    
    position:fixed;
    // top: 10vh;
    left: 51.5vw;
    bottom: 15vh;
.imgModal {
width: 150px;
height: 150px;
cursor: pointer;

}
}
}

.Footer {
    position: relative;
    text-align: center;
    background-color: white;
    margin: 5vh 0;
    font-size: 1.5rem ;
        .Hermits {
            cursor: pointer;
            text-decoration: underline;
            color: coral;
}

}

@media screen and (max-width: 460px) {
    .footerModal {
        width:90vw;
        top: 8vh;
        left:5vw;
        .membri{
           flex-direction: column;
           gap: 0 ;
           .membro{
               display: flex;
            flex-direction: row;
            gap: 5vw;
            height:7vh;
            width:20vw;
            text-align:justify;
            .containerDescMod{
                display: flex;
                flex-direction: row;
                font-size:small;
                overflow: hidden;
                max-width: 0px;
                gap: 1vw;
                .containerLinks{
                    display: flex;
                    flex-direction:column;
                    justify-content: space-around;
                    margin-top: 0;
                
                    .imgLinkedin{
                        width: 8vw;
                    }
                     .imgGitHub{
                        width: 8vw;
                        transform:translateY(-3px)
                    }
                    
                }
            }
            .membroImg{
               width: 13vw;
               
                
            }
            &:hover{
                height: 8vh;
                width: 85vw;;
                transform:translateX(-5vw) ;
                
  
                // display: flex;
                // justify-content:space-around;
                // .membroImg{
                //     // line-height: 1vh;
                //    }
                
            }
            }
        }

    }
   
  }
