.app{
    width: 100%;
    }
h1 {
    margin-left: 20px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 12rem;
    row-gap: 10px;
    margin: auto 4.8%;
}

@media screen and (max-width: 460px) {
    .cardContainer{
        justify-content: flex-start;
    }
}